
body {
  background-color: black;margin: 0;padding: 0;font-family: 'Ubuntu', sans-serif;
  background-color: black;
  color:white;
  font-size: 22px
}

h1 {
  color:red;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color:white;
}


#container{
  display:grid;
  grid-template-columns: 6fr 11fr 1fr 11fr 6fr;
  grid-template-rows: 10vh 7.5vh 25vh 5vh 35vh 7.5vh 10vh;
}

#bad_bunny{
width:200;
height: 228;
}

img{
  height: 50%;
  width: 50%;
}

#container .celda1{
  grid-column: 1/6;
  grid-row: 1/2;
}

#container .celda2{
  grid-column: 1/6;
  grid-row: 2/3;
}


#container .imagen1{
  grid-column: 2/3;
  grid-row: 3/4;
}



#container .imagen2{
  grid-column: 4/5;
  grid-row: 3/4;
}

#container .imagen3{
  grid-column: 2/3;
  grid-row: 5/6;
}



#container .imagen4{

  grid-column: 4/5;
  grid-row: 5/6;
}
